html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100vw;
    overflow: hidden
}


/* Style for the Markdown table */
table {
    border-collapse: collapse;
    /* Ensures that the border is collapsed into a single border */
    margin-bottom: 1em;
    /* Spacing below the table */
    background-color: white;
    /* Background color */
}

/* Style for table headers and cells */
th,
td {
    border: 1px solid gray;
    /* Gray border for cells */
    padding: 8px;
    /* Padding inside cells */
    text-align: left;
    /* Align text to the left */
}

/* Style for the table header row */
thead {
    background-color: #f2f2f2;
    /* Light gray background for header */
}